<%= link "Schedule pickup game", to: Routes.live_path(AttendWeb.Endpoint, AttendWeb.Game.New), class: "button" %>

<h1>Pickup games</h1>

<ul>
<%= for game <- @games do %>
  <li><%= link "#{game.team_name} @ #{game.location}", to: game_path(game) %> - <%= game.status %></li>
<% end %>
</ul>
