<%= link "Schedule pickup game", to: @schedule_pickup_game_path, class: "button" %>

<h1>Pickup games</h1>

<ul>
<%= for game <- @games do %>
  <li><%= link "#{game["team"]["name"]} @ #{game["location"]}", to: game.link %></li>
<% end %>
</ul>
