WRONG DELETE ME
  <h3>DERP <%= @team.name %></h3>
  <ul>
    <%= for player <- @team.players do %>
      <li><%= player.name %> &lt;<%= player.email %>&gt;</li>
    <% end %>
  </ul>

  <%= form_for @new_player, "#", [as: :player, phx_submit: :add_player], fn f -> %>
    <%= text_input f, :name, placeholder: "Name" %>
    <%= text_input f, :email, placeholder: "Email" %>

    <%= submit "Add player" %>
  <% end %>
