<%= link "Register team", to: Routes.live_path(AttendWeb.Endpoint, AttendWeb.Team.New), class: "button" %>

<h1>Teams</h1>

<ul>
<%= for team <- @teams do %>
  <li><%= link team.name, to: Routes.live_path(AttendWeb.Endpoint, AttendWeb.Team.Show, team.id) %></li>
<% end %>
</ul>
